/* #ul-canvas-list{
    list-style-type: none;
} */

#canvas-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.show{
    visibility: visible;
}

.hide{
    visibility: collapse;
}
